*{
    margin:0;
    font-family: Tw Cen MT;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    padding:10px;
}
.meal-container{
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}
ul{
    position:relative;
    margin:10px;
    flex-wrap: wrap;
    padding:10px 0;
    list-style-type: none;
    display: flex;
    justify-items: center;
    align-items: center;
    gap:30px;
}
ul span{
    font-size: 0.5em;
    display: flex;
    justify-self: center;
}


    
ul img{
    width: 75px;
    height:75px;
    object-fit: cover;
    border-radius: 50%;
}
.randmeal img{
    width:350px;
    height:auto;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(180, 176, 176);
    overflow: hidden;
    margin-bottom: 20px;
}
.fav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.fav button{
    margin-right: 40px;
}
input, button{
    border-radius:10px;
    background-color: rgb(180, 176, 176);
    border:none;
}
input{
height: 30px;
width: 200px;
padding-left: 20px;
}
button{
    background-color: transparent;
}
#btn{
    position:absolute;
    border:none;
    opacity:0;
    top: -0.2rem;
    left: 3.5rem;

}
ul li:hover #btn{
    opacity:1;
}
.randmeal h2{
    position: relative;
    top: 40px;
    margin:0 15px;
    padding:5px;
    width:fit-content;
    background-color: white;
    border-radius: 5px;
    font-size: 1.1em;
}
.active{
    background-color: gray;
}
.meal-info-container{
    height: 115vh;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    width:100%;
    padding:0;
    margin:0;
    top: 0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meal-info-container .meal-info{
    position:relative;
    width: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    overflow: auto;
    max-height: 100vh;
}
.meal-info img{
    object-fit: cover;
    max-height: 200px;
    width:100%;
}
.meal-info > *{
    padding:10px 0;
}
.btn-close{
    position: absolute;
    top:0;
    right: 1.4rem;
    font-size: 1rem;
}
.hidden{
    display: none;
    user-select: none;
}