*{
    box-sizing: border-box;
    font-family:Tw cen mt;
}
body{
    margin:0;
    background-color: rgb(1, 1, 37);
    background-size: cover;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
h1{
    font-size: 3rem;
    font-weight: normal;
}
.big-text{
    font-size:3rem;
    font-weight: bold;
    margin: 0 5px;
    padding-bottom:10px;
}
.container-el{
    display: flex;
    align-items: center;
    gap:50px;
    flex-wrap: wrap;
}
span{
    margin-left: 8px;
}
