*{
    margin:0;
    font-family: Tw Cen MT;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, rgb(0,0,78,.8),rgb(0,0,78,.6));
    min-height: 100vh;
}
ul{
    list-style-type: none;
    padding:0;
}
ul>li{
    margin:10px 0;
    padding:10px 0;
}
h2{
    padding:10px;
}
.quiz-container{
    min-width:400px;
    background-color:rgb(217, 211, 211);
    border-radius:10px;
    box-shadow: 0 0 10px rgba(104, 104, 110, 0.6);
    overflow: hidden;
}
.quizEl{
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    width:100%;
    color:white;
    background-color: blueviolet;
    border:none;
    font-size: 1.4rem;
    padding:10px;
}
label{
    padding:0 10px;
}
input[type='radio']{
margin:0;
}